= navbar position: :top do
  .container
    = vertical do
      = link_to root_path do
        %span.glyphicon.glyphicon-cloud
        Home
        = link_to "Clubs", clubs_path
    = horizontal do
      = nav class: 'navbar-right' do
        = link_to 'About', ""
        = render partial: "application/account_dropdown"
